@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: #dfe6e9;
  text-transform: uppercase;
}

/* .app-title {
  font-size: 3em;
} */

.loading {
  text-align: center;
}

.searchbar {
  width: 25%;
  min-width: 250px;
  margin-bottom: 1.25em;
}

